* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-image: linear-gradient(to left, #8360c3, #2ebf91); */
    background-image: linear-gradient(to right, #414141 , #1e1e1e);
    color: #f7f7f7;
    font-family: monospace;
}

body.rtl {
    direction: rtl;
    background-image: linear-gradient(to left, #414141 , #1e1e1e);
}

img {
    width: 100%;
    height: 100%;
}

#canvas {
    width: 100%;
}

.main-header {
    /* background-color: transparent;
    min-height: 50px; */
}

.topnav {
    background-color: transparent;
    min-height: 50px;
    display: flex;
    overflow: hidden;
    font-size: large;
}

.topnav h1 {
    flex-grow: 1;
    margin: 0;
    /* justify-self: center; */
    align-self: center;
    /* font-size: 50px; */
    margin-inline-start: 20px;
    text-shadow: 2px 4px 11px rgba(174, 174, 174, 0.95);
}

.topnav h1 span{
    color: #2ebf91;
}

.nav-btn {
    border-bottom: none;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    align-self: center;
}


.topnav input {
    float: left;
    /* color: #f2f2f2; */
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    align-self: center;
    height: 100%;
    /* border-radius: 20ppx; */
    width: 150px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: .2s;
}

.topnav a.active {
    background-color: #6c5ce7;
    color: white;
}

.topnav select {
    border: none;
    float: left;
    background-color:transparent;   
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    align-self: center;
    height: 100%;
    border: none;
}

.topnav select:hover {
    background-color: #ddd;
    color: black;
    transition: .2s;
}

.dropdown {
    display: none;
    position: fixed;
    right: 0;
    background-color: rgb(91, 91, 91);
    /* height: 50px */
}

.dropdown-content {
    display: none;
    background-color: rgb(91, 91, 91);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button {
    background-color: #a29bfe;
    color: #292b2c;
    border-radius: 0.3em;
}

button:hover {
    cursor: pointer;
}

.top-border {
    height: 5px ;
    background-image: linear-gradient(to left, #8360c3, #2ebf91);
    margin-bottom: 3rem;
    border-top: 1px solid #1e1e1e;
    border-bottom:1px solid #1e1e1e;
}

.top-border.rtl {
    background-image: linear-gradient(to right, #8360c3, #2ebf91)
}

.content-layout {
    background-image: linear-gradient(to left, #8360c3, #2ebf91);
    /* border: 2px solid #f7f7f7; */
    padding: 4em;
    border: 4px solid black;
}

.content-layout.rtl {
    background-image: linear-gradient(to right, #8360c3, #2ebf91)
}

.gallery-section {
    margin-bottom: 2rem;
}

.gallery-header{
    /* text-align: center; */
    font-size: 2em;
    /* margin-bottom: 2rem; */
}

.galley-input {
    /* border-radius: 30px; */
    /* padding: 8px; */
    /* margin-bottom: 60px; */
    /* background-color: #292b2c; */
    /* color: white; */
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(200px, 1fr));
    gap: 10px;
    /* padding-top: 3em; */
    /* background-color: rgb(91, 91, 91); */
    /* border: 0.5em solid #6c5ce7; */
}

.gallery-item {
    max-width: 500px;
    border: 1px solid #292b2c;
}

.gallery-item:hover {
    cursor: pointer;
}

.gallery-img {
    width: 100%;
}

.main-layout {
    margin-left: 3em;
    margin-right: 3em;
}

.main-layout>*:not(.full) {
    margin-left: 60px;
    margin-right: 60px;
    /* border: 6px solid black; */
}

.editor-section {
    display: flex;
    color: #f7f7f7;
    margin-bottom: 2rem;
    justify-content: space-between;


    /* justify-content: space-evenly; */
    /* background-color: #292b2c;
    border: 2px solid #f7f7f7; */
    /* padding: 20px; */
}   

.canvas-container {
    flex-grow: 1;
    border: 2px solid #292b2c;
    max-width: 600px;
    align-self: center;
}

.edit-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #dfe6e9;
    color: #292b2c;
    border: 2px solid #292b2c;
    flex-grow: 1;
    font-size: 3em; 
    padding: 20px;
    padding-top: 0;
    margin-inline-start: 3em;
    max-width: 500px;
    max-height: 600px;
    /* margin-right: 20px */
}

.edit-container .edit-header {
    margin: auto;
    width: 100%;
    border-bottom: 5px dashed #292b2c;
}

.edit-container h3 {
    text-align: center;
    font-size: 35px;
    margin: 10px;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.34);
}

.edit-container .item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border: 2px solid #292b2c;
    padding: 20px;
    background-color: #aab1b3;
    box-shadow: 0px 0px 7px -1px #000000;
    height: 80px;
}

.edit-container .item > * {
    box-shadow: 0px 0px 7px -1px #000000;
    flex-grow: 1;
}

.edit-container .item1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.edit-container .item1 .color-input-container  {
    position: relative;
    display: inline-block;
    /* flex-grow: 1; */
}

.edit-container .item1 .color-input-container .color-input-btn {
    width: 100%;
    height: 100%;
    position: absolute;
}

.edit-container .item1 .color-input-container .color-input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
}

.edit-container .txt-input {
    font-size: large;
    padding-inline-start: 10px;
    /* height: 60px;     */
}

.edit-container .item1 .font-size-btn-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    background-color: #aab1b3; 
    box-shadow: none;
    /* ??? */
}

.my-memes-section {
    margin-bottom: 2rem;
}

.my-memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(200px, 1fr));
    gap: 10px;
}

.my-memes-header h1 {
    text-align: center;
    color: #292b2c;
    font-size: 2em;
    margin-bottom: 2rem;
}

.my-memes-item {
    max-width: 500px;
    border: 1px solid #292b2c;
}

.my-memes-item:hover {
    cursor: pointer;
}

.my-memes-img {
    width: 100%;
}

.hide {
    display: none;
}

.modal {
    position: fixed;
    color: #292b2c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    color: #292b2c;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #ddd;
    color: #111;
    padding: 10px;
    font-size: 30px
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}

/* @media {
    
} */

@media (max-width: 1180px) {

    .main-layout {
        margin-left: 0;
        margin-right: 0;
    }

    .main-layout>*:not(.full) {
        margin-left: 0;
        margin-right: 0;
        /* border: 6px solid black; */
    }

    .topnav h1 {
        padding-inline-start: 10px;
    }

    /* .top-border {
        display: none;
    } */

    .topnav a {
        /* float: left; */
        /* color: #f2f2f2; */
        /* text-align: center; */
        /* padding: 14px 16px; */
        /* text-decoration: none; */
        font-size: 16px;
        /* align-self: center; */
    }
    
    
    .topnav input {
        /* padding-inline-end: 10px; */
        /* float: left; */
        /* color: #f2f2f2; */
        /* text-align: center; */
        /* text-decoration: none; */
        font-size: 16px;
        /* align-self: center; */
        /* height: 100%; */
        /* border-radius: 20ppx; */
        /* width: 150px; */
    }

    /* .dropdown {
        display: inline-block;
        }
    
        .topnav-menu {
            display: none;
        } */
        .content-layout {
            padding-left: 0;
            padding-right: 0;
            padding-top: 50px;
            border: none;
            border-bottom: 4px solid black;
            border-top: 4px solid black;
        }

}

@media (max-width: 740px) {

    .dropdown {
    display: inline-block;
    }

    .topnav-menu {
        display: none;
    }

    
    .top-border {
        display: none;
    }


    .content-layout {
        padding: 0;
        border: none;
    }

    .editor-section {
        /* display: block; */
        flex-direction: column;
    }

    .edit-container {
        margin-inline-start: 0;
        /* max-width: 600px; */
    }

    .canvas-container {
         
        max-width: none;
        /* max-width: 600px; */
    }
    
    .edit-container {
        max-width: none;
        /* max-width: 600px; */

    }
    }

   